*{
    box-sizing: border-box;
    --main-color: #8C11BE;
    --button-color: #A328D6;
    --white-color: #FFF;
    font-family: 'Raleway', sans-serif;
    scrollbar-width: none; /*FireFox*/
}  
  
  *::-webkit-scrollbar { /* Works on Chrome, Edge, and Safari */
    width: 0;
  }